<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div class="navbar bg-light d-flex flex-column justify-between align-items-start pt-6 pb-5">
    <div class="side-nav w-100">
        <a href="#"><img class="mb-5 ps-5" src="/assets/images/logo-ANSWER.svg" alt=""></a>
        <ul class="nav flex-column">
            <li class="nav-item mb-4">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                    assessment
                    </span>Dashboard
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                    question_answer
                    </span>Question
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                    assignment
                    </span>Assignment
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                        video_library
                    </span>Course
                </a>
            </li>
            <li class="nav-item mb-4">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                        people_alt
                    </span>Admin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active d-flex ps-5" aria-current="page" href="#">
                    <span class="material-icons me-3">
                        settings
                    </span>Settings
                </a>
            </li>
          </ul>
    </div>
    <div class="side-account d-flex align-items-center ps-5">
        <a href="#"><img class="rounded-circle me-3" style="width: 40px;height: 40px;" src="/assets/images/andychen.jpeg" alt=""></a>
        <div class="name">
            <p class="mb-0 fw-bold">Andy Chen</p>
            <p class="fs-7 mb-0">andy0401@mail.com</p>
        </div>
    </div>
</div>